body{
    background: linear-gradient(105deg,#dfee0b ,#db0d0d);
}
h1{
    text-align: center;
    font-size: 4.5rem; color: #ff0000;background-color: #0e0833;
}
#form{
    width: 1328px;
    margin: -1px 92px;
    padding: 24px 46px;
    background-color: #db0d0d;
    filter: drop-shadow(-3px -2px 30px rgb(0, 0, 0));   
    border-top-left-radius:23px  ;
    border-bottom-left-radius:23px ;
    border: 2px solid #000000 ;
}
    label{
        font-size: 1.6rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    input{
        margin: 4px -8px;
        width: 543px;
        height: 29px;
        border-radius: 10px;
    }
     button{
        width: 19%;
        height: 50px;
        margin: 29px 76px;
        border: 0px solid #00ccff;
        border-radius: 5px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 1.5rem;
       color: #c40b0b;
        }
    button:hover{
    filter: drop-shadow(-3px -2px 30px rgb(4, 175, 218));   
        width: 19%;
        height: 50px;
        margin: 29px 76px;
    background-color:#482ddd ; 
    color: #ffffff;

    /* border: 1px solid rgb(0, 0, 0); */
 }
 select{
    padding: 7px 16px;
    margin: 11px 11px;
    border-radius: 3px;
 }
 #PAYMENT{
    padding: 23px 23px;
margin: 23px 23px; 
display: flex;
}

  span{
    color: rgb(255, 196, 0);
  }
  html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
#bar{
    display: flex;
    height: 100px;
align-items: center;
}

#searchbar{   
     /* padding: 34px -148px; */
    margin: 8px 136px;
}
#searchbar input{
    width: 500px;
    background-color:black;
    color:white;height: 40px;
   
}
#searchbar input:hover{
        background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);transition: 0.4s;
}
#serachbutton input{
background-color: rgb(201, 9, 9);
/* position: static; */
width: 100px;
border-radius: 5px;
height: 45px;
margin: -230px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#serachbutton input:hover{
    background-color: rgb(255, 255, 255);
    position: static;
    width: 100px;
    border-radius: 5px;
    height: 45px;
    }
#logo{
    margin: -85px -44px;
}
#logo img{
    width: 200px;
    margin: 62px 10px;
}
#logo img:hover{
    width: 220px;
    margin: 62px 10px;transition: 0.1s;
}
#bar ul{
    display: flex;
font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #navbar{
    position: relative;} */
#bar::before{
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 34%;
    width: 100%;
    z-index: -1;
    opacity: 30;
}
#bar ul li{
    display: flex;
    list-style: none;
    font-size: 1.0rem;
}
#bar ul li a{
    display: flex;
    padding: 23px 23px;
    border-radius: 13px 13px;
    text-decoration: none;
    color: white;
}
#bar ul li a:hover{
  color: beige;
background-color: brown;    transition: 0.7s;}

