.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
  }
  .logo {
    max-width: 100px;
  }
  .search-bar {
    position: relative;
    flex: 1;
    margin: 0 1rem;
  }
  .search-bar input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #444;
    color: #fff;
  }
  .search-bar button {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 1rem;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar .menu {
      display: none;
    }
  
    .search-bar {
      flex: 2;
    }
  }.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
  }
  
  .logo {
    max-width: 100px;
  }
  
  .search-bar {
    position: relative;
    flex: 1;
    margin: 0 1rem;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.3rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #444;
    color: #fff;
  }
  
  .search-bar button {
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: black;
  }
  .search-bar button:hover {
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
  }  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 1rem;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar .menu {
      display: none;
    }
  
    .search-bar {
      flex: 2;
    }
  }